// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

#tweets .loading.error {
  background:url('data:image/png;    base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACLklEQVRYhe2WwY2bQBSG/4f3aEtsB+4gG8kzkk+BDuIKbFcQU0GyFXhdgekgJeAbEiCFErwdIMHN1vw5BK8cAws2K+3F/wm9eTP/x7w3owHuuuuTJbdOD    MNwPBgMHBEZi8gXkvbZcArgleROa51+GEAQBPZwOFwAmIvIU8dpGUn/eDxuptPp/iaA0nglIj8A2K0TGkTypSiKZ9d1s84AcRw7IrIFML7V+EJ7Y8zsVJp3AaIoWliWte3jRjIVkZTkK4Bvp9IZYzyttd8I0NM8I7k5Ho9+Xd2TJ    PlO8icArxag3PbgFmeSKcllW/eXPqsKQBAE9mg0+oN+Nc9IzpRSu7ZE6zIwHA5XPc2BfyfF6ZJYARCReU/zk7IwDMdtSW8liOPYITnu2/WXMsYstdZ+I0DZ7Wv0uGDalOf54/nlcy5LRPYAliRbu/YGZSS9JnMAsEhmALZX3O3Xy    BaRdRRFi0YAEZkbYzySLoDZDSaNf/dmYlnbOI6durEHpZR3HkiSZI8rjqExxjuZtKQ6AHYVuJoFn7uaA8i01r7W2ifpkqwYlPKVUr/qBioA5WKdGpLk5vStlNoppdwGkEWSJLU7VAEAgKIo3A4QWVEUL5fBE4gx5isA/xwiiqJKo    9cCuK6bFUXhXizwn4wx7x4vrXU6mUyWeZ4/kvQA7EWkcte0PkiiKHoSkbWIOGdhfzKZLNvmdtFDW4JlWb8vQh9mDnR8E5bvA/twOKR1D4y77uqjv2QXCIW9OIVeAAAAAElFTkSuQmCC') no-repeat center 0.5em
}
#tweets p {
  position:relative;
  padding-right:1em
}
#tweets a[href*=status]:first-child {
  color:#a4a4a4;
  float:right;
  padding:0 0 .1em 1em;
  position:relative;
  right:-1.3em;
  text-shadow:#fff 0     1px;
  font-size:.7em;
  text-decoration:none
}
#tweets a[href*=status]:first-child span {
  font-size:1.5em
}
#tweets a[href*=status]:first-child:hover {
  color:#0181eb;
  text-decoration:non    e
}
#tweets a[href*='twitter.com/search'] {
  text-decoration:none
}
#tweets a[href*='twitter.com/search']:hover {
  text-decoration:underline
}
